body, button{
	font-family: Sans-serif;
	font-size: 14pt;
	text-align: center;
}

/* The area that holds the board and pieces. */
#board{
	margin-left: auto;
	margin-right: auto;
	position: relative;
}
/*Gives the board its checkboard pattern*/
#moveHistory{
    float: left;
    width: 25%;
}
#filters{
    float: left;
    width: 18%;
    text-align: left;
}
#gameSpace{
    float: left;
    width: 50%;
}
footer{
	position: relative; 
	bottom: 0;
	width: 98%;
    clear: both;
}
tr{
    vertical-align: middle;
}
tr td{
    background-color: #DDDDDD;
}
tr:nth-child(even) td:nth-child(odd){
    background-color: white;
}
tr:nth-child(odd) td:nth-child(even){
    background-color: white;
}
td{
    border: 2px solid black;
    margin: 100px;
    padding: 10px;    
    border-spacing: 10px 5px;
}
table{
    margin-left: auto;
    margin-right: auto;
}
td:hover {
	border-color: red;
}
.gridLabel{
    font-weight: bold;
}

.pieceFlair{
    -webkit-animation-duration: 1.5s;
    -webkit-animation-name: pulse;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;

    -ms-animation-duration: 1.5s;
    -ms-animation-name: pulse;
    -ms-animation-iteration-count: infinite;
    -ms-animation-direction: alternate;
}
@-webkit-keyframes pulse {
    from {
        opacity: .2;
    }
    to {
        opacity: 1;
    }
}
@-ms-keyframes pulse {
    from {
        opacity: .2;
    }
    to {
        opacity: 1;
    }
}