body, button{
	font-family: Sans-serif;
	font-size: 14pt;
	text-align: center;
}

/* The area that holds the board and pieces. */
#board{
	margin-left: auto;
	margin-right: auto;
	position: relative;
}
/*Gives the board its checkboard pattern*/
tr td{
    background-color: white;
}
tr:nth-child(even) td:nth-child(odd){
    background-color: #DDDDDD;
}
tr:nth-child(odd) td:nth-child(even){
    background-color: #DDDDDD;
}
td{
    border: 2px solid black;
    margin: 100px;
    padding: 10px;    
    border-spacing: 10px 5px;
}
table{
    margin-left: auto;
    margin-right: auto;
}
td:hover {
	border-color: red;
}
